<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{598,210}</string>
                <key>spriteSourceSize</key>
                <string>{600,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{598,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_loading_prb_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,29}</string>
                <key>spriteSourceSize</key>
                <string>{313,29}</string>
                <key>textureRect</key>
                <string>{{1,213},{313,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_loading_prb_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,16}</string>
                <key>spriteSourceSize</key>
                <string>{302,16}</string>
                <key>textureRect</key>
                <string>{{316,213},{302,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_ui_loading.png</string>
            <key>size</key>
            <string>{619,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04bb44274875021c8f6a97153e9b9ee:4ad9dc9b3dd3c2660dc96b31d0e44e3d:37548aefcb01b39951b3a685e9709cb1$</string>
            <key>textureFileName</key>
            <string>atlas_ui_loading.png</string>
        </dict>
    </dict>
</plist>
